html {
  background-color: #6a6aac;
  height: 100%;
}

body {
  font-size: 75%;
  width: 80em;
  margin-left: auto;
  margin-right: auto;
  background-color: #E5e5ff;
  padding: 0;
  min-height: 100%;
}

div#banner {
  border: 0;
}

div#breadcrumbs {
  padding: 6px;
  font-size: 100%;
  background-color: #e0a857;
  border: 0;
}

div.xright, div.xleft {
  text-shadow: none;
}

div#breadcrumbs a {
  padding: 6px;
  font-weight: bold;
  color: black;
  background: transparent;
}

div#breadcrumbs a:hover {
  border-bottom: 3px solid #947140;
  padding-bottom: 3px;
}

div#leftColumn {
  background-color: #DCE3EB;
  border: none;
  overflow: visible;
}

div#navcolumn > ul > li.expanded,
div#navcolumn > ul > li.none {
  background-image: none;
  padding: 0.5em 0;
}

div#navcolumn a,
div#navcolumn strong {
  padding: 0.3em 0;
  display: block;
  background-image: none;
  color: black;
}

div#navcolumn > ul > li.expanded > ul > li.none > a,
div#navcolumn > ul > li.expanded > ul > li.none > strong {
  padding-left: 0.3em;
}

div#navcolumn a:hover {
  background-color: #C7D8EB;
}

div#navcolumn li.expanded > a {
  border-bottom: 1px solid #999999;
}

div#contentBox > div.section {
  border-top: 1px solid #5050b0;
  margin-top: 1.5em;
}

h2 {
  border: none;
  font-size: 1.5em;
  font-weight:bold;
  padding: 0;
  background-color: transparent;
  margin: 0;
}

div#contentBox > div.section > div.section {
  padding: 0;
}

h3 {
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0;
  background-color: transparent;
}

p, li, td {
  font-size: 100%;
  line-height: 1.45em;
}

p, li, h2, h3, td {
  color: #23233f;
}

div.source {
  background-color: #fbf2e5;
  font-size: 100%;
  border: 1px solid #795f39;
}